{% extends 'layouts/default.twig' %}

{% block main %}
    <h1>Hello, {{ user }}!</h1>
    <p>You're running on the most overengineered DI container in the known universe.</p>
    <p><strong>Frameworks?</strong> Never heard of them.</p>
{% endblock %}